@mixin center($position: absolute)
{
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin top-left($position: absolute, $top: 0, $left: 0)
{
  position: $position;
  top: $top;
  left: $left;
}

@mixin top-right($position: absolute, $top: 0, $right: 0)
{
  position: $position;
  top: $top;
  right: $right;
}

@mixin bottom-left($position: absolute, $bottom: 0, $left: 0)
{
  position: $position;
  bottom: $bottom;
  left: $left;
}

@mixin bottom-right($position: absolute, $bottom: 0, $right: 0)
{
  position: $position;
  bottom: $bottom;
  right: $right;
}