*,
::before,
::after
   margin: 0
   padding: 0
   box-sizing: border-box
   resize: none

body
   min-height: 100vh
   overflow-x: hidden
   background: var(--light-theme)
   &.dark-theme
      background: var(--dark-theme)
   
:focus
   outline: 0

a
   text-decoration: none

@for $i from 0 through 6
   h#{$i}
      font-weight: 400
      margin-bottom: 2rem