=cut-img($width: 100%, $height: 100%, $fit: cover, $position: center)
   width: $width
   height: $height
   object:
      fit: $fit
      position: $position

=flexbox($justify-content: flex-start,$align-items: stretch,$direction: row)
   display: flex
   justify-content: $justify-content
   align-items: $align-items
   flex-direction: $direction

=square($width, $color, $radius: .4rem)
   width: $width
   height: $width
   border-radius: $radius
   background: $color